body{
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
}

h2{
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

header{
  background-image: url(../images/the-flatiron-building.png);
}

footer{
  background-color: dimgray;
  text-align: left;
  color: white;
}

footer nav{
  display: inline;
}

.btn-nav {
  color: white;
  font-size: 18px;
}

.divider{
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}


#copy{
  font-size: 11px;
  display: inline;
}
